@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=avenir:900);
body {
  margin: 0px;
  background-color: white;
}

  * {
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.5em;
    font-family: avenir;
    font-weight: lighter;
    color: grey;
    text-align: justify;
  }

  h1,h2,h3 {
    font-family: avenir;
    font-weight: bold;
  }

  h1 {
    margin: 0 0 3em 0;
    font-size: 2em;
    text-align: center;
  }

  h2 {
    padding-top: 14.5vh;
    font-size:3.5em;
  }

  a:visited{
    color: rgb(159,196,137);
  }

  a:link {
    color: grey;
  }

  a:hover {
    color:white;
  }

  ::selection {
    background: #F6E03D;
  }

  #menu {
    height: 6em;
  }

  #menu a {
    font-size:1em;
    font-family:avenir;
  }

  #menu button {
    font-size: 1em;
    font-family: avenir;
  }

  #description_text{
    display:inline-block;
    overflow:auto;
    margin-bottom: auto;
    font-size: 0.75em;
  }

  @media (max-width: 1080px) {
    #description_text {
      width: auto;
    }
  }

  #nav_wrapper {
    position: fixed;
    width: 100vw;
    height: 5.95em;
    margin: 0 auto;
    top:0px;
    background-color: #F6E03D;
    z-index: 1000;
    /*transition: ease-out height 0.3s;*/
  }

  #logo {
    height: 6em;
    float: left;
    margin-left: 4.5vw;
    /*transition: height 1s;*/
  }

  #nav_wrapper ul {
    width: 100vw;
    list-style: none;
    position: relative;
    float: right;
    margin: 0;
    margin-top: 12px;
    margin-left: 0.8vw;
    padding: 0; }

    #nav_wrapper ul a {
      color: #0E0D0C;
      font-size: 1em;
      text-decoration: none;
      line-height: 32px;
      margin-left: 20vw;
      font-family: "", sans-serif;
      -webkit-font-nav: "avenir", sans-serif, #0E0D0C, 1.09vw;
      -moz-font-nav: "avenir", sans-serif, #0E0D0C, 1.09vw;
      -ms-font-nav: "avenir", sans-serif, #0E0D0C, 1.09vw;
      font-nav: "avenir", sans-serif, #0E0D0C, 1.09vw; }

      #nav_wrapper ul li {
        position: relative;
        float: left;
        margin: 0;
        padding: 0; }

        #nav_wrapper ul li:hover {
          background: none; }

          #nav_wrapper ul ul {
            display: none;
            position: absolute;
            width: 25vw;
            top: 100%;
            right: 0vw;
            left: 0vw;
            background: none;
            padding: 0; }

            #nav_wrapper ul ul li {
              position: relative;
              width: 140px;
              float: left;
              margin: 0vw;
              padding: 0; }

              #nav_wrapper ul ul a {
                margin-top: 100px;
                line-height: 100%;
              }

              #nav_wrapper ul ul ul {
                top: 0;
                left: 100%; }

                #nav_wrapper ul li:hover > ul {
                  display: block; }

                  /*#nav_wrapper:hover {
                    height: 6em;
                  }*/


                  .dropbtn {
                    padding: none;
                    border: none;
                    margin: 0;
                    cursor: pointer;
                    background-color: transparent;
                    min-width: 10em;
                    transition: background-color 0.3s;
                    text-align: left;
                    border-bottom: 0.1em solid black;
                  }

                  .dropdown {
                    position: relative;
                    display: inline-block;
                    /*margin-left: 10vw;*/
                    height: 2em;

                  }

                  .dropdown-content {
                    display: none;
                    position: absolute;
                    min-width: 10em;
                    border: 0 1px 1px 1px solid black;
                    /*background-color: lightgrey;*/
                    /*box-shadow:0px 20px 300px -20px rgba(0,0,0,0.75)*/
                  }

                  .dropdown-content a {
                    color: #0E0D0C;
                    /*padding: 12px 16px;*/
                    padding: 0.5em;
                    text-decoration: none;
                    display: block;
                    transition: background-color 0.3s
                  }

                  .dropdown-content a:hover {
                  	/*background-color: rgba(159,196,137,1)*/
                  	text-decoration: underline;
                  }

                  .dropdown:hover .dropdown-content {
                    display: block;
                  }

                  .dropdown:hover .dropbtn {
                    text-decoration-style: underline;
                  }

                  #mobile_menu {
                    display: none;
                  }

                  #scroll_button {
                    position: absolute;
                    z-index: 997;
                    display: inline;
                    border: none;
                    background-color: rgba(0,0,0,0.50);
                    border-radius: 100%;
                    padding 1em;
                    top: 85vh;
                    left: 46.50vw;
                    width: 6em;
                    height: 6em;
                  }

                  /*# sourceMappingURL=main.css.map */

                  main {
                    padding: 0em 6em 6em 6em;
                  }

                  main.padtop {
                    padding-top: 6em;
                  }



                  /* grid image hover text*/

                  img {
                    max-width: 100%;
                    max-height: 100%;
                  }

                  .swiper-container.gallery-top.swiper-container-horizontal {
                    margin-top: 6em;
                  }

                  .grid_container {
                    padding-top: 6em;
                  }

                  .image_container {
                    z-index: 998;
                    position:relative;
                    display:inline-block;
                    overflow: hidden;
                    margin-bottom: 3em;
                    width: calc(33% - 4px);
                    overflow: none;
                  }

                  .image_caption {
                    margin: 0;
                    padding: 25% 0;
                    position: absolute;
                    z-index: 998;
                    text-align: center;
                    top: 0px;
                    width:100%;
                    color: transparent;
                    transition: all 0.2s ease;
                  }


                  .image_caption:hover {
                    color: white;
                    text-shadow: 0 1px 2px black;
                    background-color: rgba(167,197,126,0.5);
                    cursor: pointer;
                  }

                  .caption_type {
                    font-size: 0.7em;
                  }

                  @media (max-width: 1080px) {

                    .image_container {
                      width: auto;
                      margin-bottom: 1em;
                    }

                  }

                  .grid_image {
                    transition: all 0.5s linear;
                    transform: scale3d(1, 1, 1);
                  }

                  .grid_image:hover {
                    cursor: pointer;
                    opacity: 0.15;
                    transform: scale3d:(1.2,1.2,1);
                  }

                  .hover_text {
                    width: 1500px;
                    height: 2000px;
                    background-color: lightgrey;
                    opacity: 0.0;
                    position: absolute;
                    top: 0px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                  }

                  .hover_text:hover {
                    opacity: 0.5;
                  }

                  .hover_text_container {
                    display: table-cell;
                    vertical-align: middle;
                  }

                  .nosotros_container {
                    padding: 0px;
                    margin: 6em 0 0 0;
                    background-color: #F6E03D;
                    /*column-count: 2;*/
                  }

                  .title {
                    text-align:center;
                    font-family:avenir;
                    padding-bottom:10px;
                  }

                  .contactanos_container {
                    padding: 50px;
                  }

                  .contact_list {
                    list-style-type:none;
                    margin:0;
                    padding:0;
                    display: inline-block;
                  }

                  .contact_list li {
                    font-family: avenir;
                    font-size: 2em;
                    margin-top: 1em;
                  }

                  .contact_list img {
                    margin-right: 1em;
                    width: 4em;
                    height: 4em;
                  }

                  .contact_text_container {
                    background:
                    url('../img/Nosotros.jpg') no-repeat;
                    padding: 6em 10vw 6em 10vw;
                    font-size: 0.6em;
                    background-size: 100%;
                    transition: linear-gradient 0.3s;
                    color: none;
                  }

                  .contact_text_container:hover{
                    background: linear-gradient(
                      rgba(167, 197, 126, 1),
                      rgba(167, 197, 126, 1)
                    ),
                    url('../img/Nosotros.jpg') no-repeat;
                    color: white;
                    background-size:100%
                  }

                  .contact_text_container p {
                    color: white;
                  }

                  .form_container {
                    position:relative;
                    margin: 50px;
                    padding: 50px;
                    background-color: lightgrey;
                    border: 2px solid grey;
                  }



                  footer h1 {
                    margin-top: 10vh;
                    padding-top: 5vh;
                    margin-bottom: 0;

                  }
                  footer p {
                    margin-top: 1.5vh;
                    padding-top: 3vh;
                    font-size: 1.5em;
                    font-weight: normal;
                    line-height: 1.5;

                  }

                  footer {
                    background-color: #F6E03D;
                    padding: 0px 10vw;
                    height: 100vh;
                    overflow: auto;
                  }
                  footer li a{
                    color: #0E0D0C;
                    font-style: normal;
                    text-decoration: none;
                  }

                  footer li a:hover{
                    color: white;
                  }

                  footer ul {
                    font-family: "Helvetica", sans-serif;
                    -webkit-font-nav: "Helvetica", sans-serif, #0E0D0C, 1.1vw;
                    -moz-font-nav: "Helvetica", sans-serif, #0E0D0C, 1.1vw;
                    -ms-font-nav: "Helvetica", sans-serif, #0E0D0C, 1.1vw;
                  }

                  #overlay    {
                    position:absolute;
                    top:0px;
                    width:100%;
                    height:100%;
                    background:rgba(0,0,0,.75);
                    text-align:center;
                    opacity:0;
                    -webkit-transition: opacity .40s ease;}

                    .image_container:hover #overlay {
                      opacity:1;
                    }

                      #plus       {
                        font-family:Helvetica;
                        font-weight:900;
                        color:rgba(255,255,255,.85);
                        font-size:96px;}

                        .image_container:hover:after {
                          content: "\A";
                          background: rgba(255, 0, 0, 0.5);
                        }


                        #image_viewer_container {
                          position:fixed;
                          top: 0px;
                          background-color:rgba(0,0,0,.75);
                          color: white;
                          width: 100%;
                          height: 100vh;
                          z-index: 9999;
                          display: none;
                          font-size: 0.80em;

                        }

                        #viewer_image {
                          position:absolute;
                          top: 55vh;
                          left: 50vw;
                        }

                        #next {
                          position: absolute;
                          top: 0;
                          left: 80vw;
                          width: 20%;
                          height: 100%;
                          background: linear-gradient(to right, rgba(167,197,126,0) 0%,rgba(130,154,98,0) 22%,rgba(0,0,0,1) 100%);
                          border: none;
                          text-align: right;
                          font-size: 4em;
                          padding: 2vw;
                          color: white;
                        }

                        #back {
                          position: absolute;
                          top: 0;
                          width: 20%;
                          height: 100%;
                          background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(130,154,98,0) 78%,rgba(167,197,126,0) 100%);
                          border: none;
                          text-align: left;
                          font-size: 4em;
                          padding-left: 2vw;
                          padding-top: 2vh;
                          padding-right: 2vw;
                          padding-bottom: 2vh;
                          color: white;
                        }

                        #exit {
                          border-radius: 100%;
                          width: 2em;
                          height: 2em;
                          border: none;
                          position: absolute;
                          font-size: 2em;
                          background-color: white
                          font-family: avenir;
                          font-weight: bold;
                          top: 0;
                          right: 0;
                          margin: 1vw;
                          cursor:
                        }

                        #landscape {
                          width: 64vw;
                          border: 5px solid white;
                          position: absolute;
                          top: 51vh;
                          left: 50vw;
                          margin-top: -22vw;
                          margin-left: -32vw;
                          background-color: white;
                        }

                        #portrait {
                          width: 28vw;
                          border: 5px solid white;
                          position: absolute;
                          top: 52vh;
                          left: 50vw;
                          margin-top: -22vw;
                          margin-left: -14vw;
                          background-color: white;

                        }

                        .viewer_title{
                          position: absolute;
                          margin-top: -10vh;
                          padding: 0;
                          top: 0;
                        }

                        #viewer_description{
                          position: absolute;
                          margin-bottom: -5vh;
                          bottom: 0;
                        }

                        button:focus {
                          outline: none;
                        }

                        .modal_container {
                          position: relative;
                          margin-top: 0vh;
                          padding-top: 3.5em;
                          transition: padding-top 0.3s;
                        }

                        .modal_image_container {
                          float: left;
                        }

                        .modal_text_container{

                        }

                        .modal_project_name {
                          background-color: white;
                          color: white;
                          font-size: 0.025em;
                        }

                        .current {
                          display: inline;
                        }

                        .left p {
                          text-align: justify;
                        }

                        .total {
                          display: inline;
                        }




                        @media (max-width: 1080px) {

                          #scroll_button {
                            display: none;
                          }

                          /*body{
                              background-color: #F6E03D;
                          }*/

                          main{
                          background-color: white;
                          z-index: 10000;
                          }

                          h1 {
                            font-size: 2em;
                            margin: 0 0 2em 0;
                          }

                          h2 {
                            margin-top: 10em;
                            font-size:3.5em;
                          }

                          .image_caption {
                            color: white;
                            text-shadow: 0 1px 2px black;
                            /*padding: 27% 0;*/
                            padding: 0;
                            top: inherit;
                            bottom: 0px;
                            background-color: rgba(167,197,126,0.75);
                          }

                          .grid_container {
                            padding: 7%;
                          }

                          .swiper-container.gallery-top.swiper-container-horizontal {
                            margin-top: 10em;
                          }

                          #arquitectura{
                            margin-top: 1em;
                            margin-bottom: 1em;
                          }

                          #lafiel{
                            margin-top: 0.25em;
                          }

                          #description_text{
                            margin-top: 1em;
                            margin-bottom: 6em;
                          }

                          #menu {
                            display: none;
                          }

                          #mobile_menu {
                            display: block;

                          }

                          #menu_img{
                            width: 10em;
                          }

                          #nav_wrapper {
                            height: 10em;
                          }

                          #logo {
                            height: 10em;
                          }

                          .dropdown {
                            position: relative;
                            display: inline-block;
                            /* margin-left: 10vw; */
                            float: right;

                          }

                          #mobile_menu_button {
                            height: 10em;
                            display: block;
                          }


                          .dropbtn {
                            height: 15em;
                            border: none;
                          }

                          .dropdown-content {
                            display: none;
                            position: absolute;
                            /*margin-top: 5vh;*/
                            /* min-width: 10em; */
                            width: 100vw;
                            right: 0px;
                            background-color: #F6E03D;
                            overflow:auto;
                            height: 100vh;
                          }

                          .dropdown-content a {
                            font-size: 2em;
                            /*padding: 0.80em;*/
                            padding: 4.2vh;
                            font-family: avenir;
                          }

                          .dropdown-content a:hover {
                            /*background-color: rgb(159,196,137);*/
                          }

                          /*.dropdown:hover .dropdown-content {
                            display: block;
                          }*/

                          .dropdown:hover .dropbtn {
                            background-color: rgb(159,196,137);
                          }

                          .left p {
                            font-size: 6em;
                          }

                          .modal_container {
                            padding-top: 10em;
                            width:100%;
                          }
                          .modal_project_name {
                            background-color: white;
                            color: white;
                            font-size: 0.025em;
                          }

                          .nosotros_container {
                            margin-top: 10em;
                          }

                          footer p {
                            font-size: 1em;
                          }

                          .contact_text_container {

                          }

                        }
